<nav class="dt w-100 border-box pa3 ph5-ns">
<a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
  <img src="http://lorempixel.com/100/100/nature" class="dib w2 h2 br-100" alt="Site Name">
</a>
<div class="dtc v-mid w-75 tr ttu fw3">
  <a href="{{ site.url }}" class="animated fadeIn a4 d2 reverse dark-pink link dim f6 f5-ns dib mr3 mr4-ns" href="#" title="About">Home</a>
  <a class="link dark-pink f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Lorem Ipso</a>
  <a class="link dim bg-dark-pink white pa3 f6 f5-ns dib mr3 mr4-ns" href="#" title="Contact">Dolor Sit</a>
  <a class="link dim dark-pink f6 f5-ns dib mr3 mr4-ns" href="#" title="Contact">FAQ</a>
  <a class="link dim dark-pink f6 f5-ns dib" href="#" title="Contact">About</a>
</div>
</nav>

<h1 class="pa3 ph5-ns">Lorem ipso <span class="dark-pink">dolor</span> sit amet</h1>
